* {
    margin: 0px;
    /*tirar margem*/
    padding: 0px;
    /*tirar espaçamento*/
    transition: all 1s;
    /*todos os meus componentes terão transição*/
    font-family: 'Roboto', sans-serif;
    /*mudar fonte*/
    box-sizing: border-box;
}

:root {
    --cor-header: #FFF159;
    --cor-footer: #F8E950;
    --cor-lindona: #50a0ef;
    --cor-linda: #4d99fb;
    --cor-azul: #0065ED;
    --cor-valor: green;
    --cor-bloco: #D9D9D9;
    --padding: 5px;
    --cor-branca: white;
    --cor-preta: black;
    --cor-cinza: grey;
}

header {
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header .nav-header {
    justify-content: end;
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
}

header .nav-header a{
    font-size: 15px;
}
    
header .nav-header a {
    text-decoration: none;
    color: var(--cor-preto);
    padding: 15px;
}

header .nav-header a:hover {
    background-color: var(--cor-linda);
    padding: 10px;
    color: var(--cor-branca);
    border-radius: 25px;
}

/*-------------------------------BARRA DE PESQUISA-------------------------*/
.nav-header .container-input {
    position: relative;
  }
  
  .input {
    width: 350px;
    padding: 5px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .nav-header .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }

  /*--------------------------PESQUISAS---------------------------*/
  
  main .imagens{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 25px;
    background-color: var(--cor-branca);
    text-align: center;
  }

  /*-----------------------PRIMEIRA SECTION DA MAIN-----------------*/

  .psection i, .psection p{
    color: var(--cor-valor);
}

.psection .cinza{
    color: var(--cor-cinza);
}

.oferta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.psection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}


.oferta div{
    border: solid black 5px;
    padding: 5px;
    border-radius: 20px 1px;
}

.oferta h4{
    background-color: var(--cor-azul);
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

.oferta h5{
    font-size: 20px;
}

/*----------------------------SECTION DO APP SENAI LIVRE------------------------*/

.appsenailivre {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgapp img{
    margin-top: 70px;
    width: 550px;
}

.textapp {
    margin-top: 160px;
}


/*----------------------------SEGUNDA SECTION DA MAIN------------------------------*/

.ofertasdia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 40px;    
}

.Ssection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding: 20px;
}

.Ssection h2{
    margin-bottom: 30px;
}

/* -----------------------TERCEIRA SECTION--------------------------*/

.tsection i, .tsection p{
    color: var(--cor-valor);
}

.tsection .cinza{
    color: var(--cor-cinza);
}

.promocao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
}


.promocao div{
    border: solid black 5px;
    padding: 5px;
    border-radius: 20px 1px;
}

.promocao h4{
    background-color: var(--cor-azul);
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

.promocao h5{
    font-size: 20px;
}

.tsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.tsection img{
    width: 180px;
}

.letrinha{
    margin-top: 20px;
    text-align: center;
}

/*---------------------------FOOTER---------------------------------*/

footer {
    background-color: var(--cor-header);
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    padding: 15px;
    background-image: url(img/rodape.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 20px;
    gap: 15px;
}

/*------------------------LOGIN SENAI LIVRE--------------------------*/

.formulario-form form input{
    display: block; 
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-header);
    border-radius: 10px;
    width: 350px;
    margin-bottom: 10px;
    margin: 10px auto;
}

.formulario-form button{
    background-color: var(--cor-linda);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;

}

.formulario{
    text-align: center;
}

.formulario-title{
    padding: 10px;
}


html{
    scroll-behavior: smooth;
}

/*---------------------------------CARRINHO-----------------------------*/
.header-carrinho {
    background-color: var(--cor-header);
    padding: 15px;
    color: var(--cor-preto);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

#main-carrinho {
    padding: 20px;
}

#main-carrinho .partedecima {
    text-align: center;
    padding: 20px;
}

#main-carrinho .carrinho {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

#main-carrinho .carrinho .parteum .sacola {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 5px;
}

#main-carrinho .carrinho .parteum .sacola .localizacao {
    display: flex;
    justify-content: center;
}

#main-carrinho .carrinho .parteum table {
    width: 100%;
    height: 100%;
}

#main-carrinho .carrinho .parteum .imagem {
    text-align: center;
}

#main-carrinho .carrinho .parteum .imagem img {
    width: 280px;
    padding: 5px;
}

#main-carrinho .carrinho .dupla {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#main-carrinho .carrinho .dupla .pedido {
    background-color: #D9D9D9;
    padding: 20px;
    text-align: center;
}

#main-carrinho .carrinho .dupla .pedido button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

#main-carrinho .carrinho .dupla .pagamento {
    background-color: #D9D9D9;
    padding: 20px;
}

/*-------------------------------FRITADEIRA PT CIMA-----------------------*/

.descri{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px;
    gap: 70px;
    font-size: 20px;
}
.frit img{
    width: 400px;
}
 main .button-compra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
 }

 /*--------------------------------FRITADEIRA PT BAIXO----------------------*/
 .flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
} 


.flex div{
    border: solid black 2px;
    padding: 10px;
    border-radius: 20px 1px;
}

.flex{
    padding: 10px;
    text-align: center;
    align-items: center;
}

.flex button{
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 15px;
}

.camera, .labtop, .cadeira{
    padding: 25px; 
}

.sugestoes p, .descri p{
    color: green;
} 

.sugestoes h7, .descri h7{
    color:dimgrey;
} 

.compra button{
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 15px;
}

.sugestoes{
    text-align: center;
}

/*--------------------------------------DASHBOARD--------------------------------*/
main .mae{
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.filho1{
    background-color: #1E1E2D;
    height: 150vh;
}

.filho1 h6{
    color: white;
}

main .mae .filho1 .escrita .painelc{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .usuario{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .myconta{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .segury{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .corp{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .esport{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .academy{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .relaty{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .costumy{
    display: flex;
    padding: 6px;
}

main .mae .filho1 .escrita .alerty{
    display: flex;
    padding: 6px;
}

main .mae h6{
    margin-left: 10px;
}

.imglogo{
    margin-left: 35px;
    margin-top: 30px;
}

/*-------------------------MEIO DA DASHBOARD--------------------------*/

 main .divfilhos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 55px;
    gap: 20px;
 }

 .textdash{
    margin: 35px;
 }

 .textdash p{
    margin: 9px;
    color: dimgray;
 }

 .mae2 .divfilhos .filho2 .filho3 .filho4 .filho5{
    border-radius: 30px;
 }

 .divfilhos{
    justify-items: center;
 }

 .filho{
    border: 4px solid grey;
    width: 100%;
    border-radius: 20px;
    position: relative;
 }
 .filho i{
    font-size: 3em;
    position: absolute;
    top: 20px;
    right: 5px;
 }

 .filho h4{
    margin: 10px;
 }

 .filho p{
    margin: 5px;
 }

 



 



